<a href="https://colab.research.google.com/github/8247544330/Assignment1-submission/blob/main/datascience1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [8]:
import seaborn as sns

In [9]:
sns.__version__

'0.11.1'

In [10]:
import warnings
warnings.simplefilter('ignore')

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
pd.__version__

'1.1.5'

In [66]:
k=["apple","banana","orange","grapes"]
print(k)

['apple', 'banana', 'orange', 'grapes']

In [67]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

CLASSES
    builtins.object
        Panel
        SparseDataFrame
        SparseSeries
        __DatetimeSub
        __SparseArraySub

    class Panel(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    SparseArray = class __SparseArraySub(builtins.object)
     |  Methods defined here:
     |
     |  emit_warning(dummy=0)
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(cls, *args, **kwargs)
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class SparseDataFrame(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class SparseSeries(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    datetime = class __DatetimeSub(builtins.object)
     |  Methods defined here:
     |
     |  emit_warning(dummy=0)
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(cls, *args, **kwargs)
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = 'b5958ee1999e9aead1938c0bba2b674378807b3d'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    np = <pandas.__numpy object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.1.5

FILE
    /usr/local/lib/python3.6/dist-packages/pandas/__init__.py

In [3]:
type(k)

list

In [4]:
k[2]="onion"

In [5]:
k

['apple', 'banana', 'onion', 'grapes']

NameError: ignored

In [18]:
import pandas as pd
data = pd.Series([23,54,66,76,33],index=['A','B','C','D','E'])
data

A    23
B    54
C    66
D    76
E    33
dtype: int64

In [19]:
data['A']

23

In [21]:
'A' in data

True

In [22]:
pd.Series.keys?

In [23]:
data.keys()

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [24]:
pd.Series.items?

In [25]:
data['A']=400
data

A    400
B     54
C     66
D     76
E     33
dtype: int64

#slicing by explicit index

In [27]:
print(data)
print(data['A':'C'])

A    400
B     54
C     66
D     76
E     33
dtype: int64
A    400
B     54
C     66
dtype: int64

slicing by implicit integer

In [28]:
print(data)
print(data[0:4])

A    400
B     54
C     66
D     76
E     33
dtype: int64
A    400
B     54
C     66
D     76
dtype: int64

In [29]:
#masking
data[(data>50)&(data<400)]

B    54
C    66
D    76
dtype: int64

In [33]:
#fancy indexing
data[['A','B']]

A    400
B     54
dtype: int64

In [34]:
#lets print the data and use the expicit and implicit index to access the data
data

A    400
B     54
C     66
D     76
E     33
dtype: int64

In [35]:
#python index start from zero by default
#implicit index:final index is excluded
data[1:3]

B    54
C    66
dtype: int64

In [36]:
#explicit index:final index is included
data['B':'E']

B    54
C    66
D    76
E    33
dtype: int64

In [37]:
#lets create a data to create explicit intex to understand this concept
idata=pd.Series(['a','b','c','d','e','f'],index=[1,2,3,4,5,7])

In [38]:
idata

1    a
2    b
3    c
4    d
5    e
7    f
dtype: object

In [41]:
#explicit index while indexing
idata[4]

'd'

In [42]:
idata[4]=500

In [43]:
idata

1      a
2      b
3      c
4    500
5      e
7      f
dtype: object

In [44]:
#implicit index while indexing
idata[1:4]

2      b
3      c
4    500
dtype: object

In [45]:
idata.loc[1]

'a'

In [46]:
idata.loc[1:5]

1      a
2      b
3      c
4    500
5      e
dtype: object

In [48]:
print(idata)
print(idata[3:7])
print(idata.loc[3:7])

1      a
2      b
3      c
4    500
5      e
7      f
dtype: object
4    500
5      e
7      f
dtype: object
3      c
4    500
5      e
7      f
dtype: object

**#Data selection in data frames**

In [49]:
import pandas as pd

In [50]:
states_capital={'Andhrapradesh':'Amaravathi','karnataka':'bangalore','tamilnadu':'chennai','telangana':'huderabad','kerala':'tiruvanantapuram'}
data_capital=pd.Series(states_capital)

In [51]:
states_lang={'Andhrapradesh':'telugu','tamilnadu':'tamil','karnataka':'kanada','telangana':'telugu'}
data_lang=pd.Series(states_lang)

In [52]:
data2=pd.DataFrame({'capitals': states_capital,'language': states_lang})
data2

                       capitals language
Andhrapradesh        Amaravathi   telugu
karnataka             bangalore   kanada
tamilnadu               chennai    tamil
telangana             huderabad   telugu
kerala         tiruvanantapuram      NaN

In [56]:
data2['capitals']

Andhrapradesh          Amaravathi
karnataka               bangalore
tamilnadu                 chennai
telangana               huderabad
kerala           tiruvanantapuram
Name: capitals, dtype: object

In [57]:
data2['language']

Andhrapradesh    telugu
karnataka        kanada
tamilnadu         tamil
telangana        telugu
kerala              NaN
Name: language, dtype: object

In [58]:
data2.capitals

Andhrapradesh          Amaravathi
karnataka               bangalore
tamilnadu                 chennai
telangana               huderabad
kerala           tiruvanantapuram
Name: capitals, dtype: object

In [59]:
student_subjects=pd.Series({'kiran':'telugu','bhanu':'english','dilip':'malayalam','ramadevi':'sanskrit','rakesh':'hindi','rajtharun':'tamil'})
total_marks=pd.Series({'kiran':100,'bhanu':100,'dilip':100,'ramadevi':100,'rakesh':100,'rajtharun':100})
obtained_marks=pd.Series({'kiran':78,'bhanu':99,'dilip':78,'ramadevi':100,'rakesh':89,'rajtharun':66})
data3=pd.DataFrame({'sub': student_subjects,'totalmarks':total_marks,'obtainedmarks':obtained_marks})

In [60]:
data3

                 sub  totalmarks  obtainedmarks
kiran         telugu         100             78
bhanu        english         100             99
dilip      malayalam         100             78
ramadevi    sanskrit         100            100
rakesh         hindi         100             89
rajtharun      tamil         100             66

In [61]:
data3['sub']

kiran           telugu
bhanu          english
dilip        malayalam
ramadevi      sanskrit
rakesh           hindi
rajtharun        tamil
Name: sub, dtype: object

In [65]:
data3['totalmarks']

kiran        100
bhanu        100
dilip        100
ramadevi     100
rakesh       100
rajtharun    100
Name: totalmarks, dtype: int64